:root {
  --primary: rgb(2, 77, 223);
  --secondary: rgb(191, 191, 191);
  --black: rgb(18, 18, 18);
  --purple: rgb(167, 51, 255);
  --white: rgb(255, 255, 255);
  --gray: rgb(100, 100, 100);
  --lightGray: rgb(246, 246, 246);
  --lightBlue: rgb(191, 210, 247);
  --darkBlue: rgb(1, 57, 167);
  --blueDegraded: rgba(255, 255, 255, 0.12);
  --fuente-principal: 'Helvetica', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: var(--fuente-principal);
  background-color: var(--lightGray);
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

svg, a, button {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}